#navbar{
    height: 60px;
    background-color:burlywood;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;

    nav{
    
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            a{
                color: black;
            }
        }
    }
}
#cart{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    .product-box{
        border: 2px solid #ccc;
        height: 500px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* color: #ffffff; */
        margin-top: 10px;
        img{
            height: 200px;
            width: 200px;
        }
        
    }
}
button{
    background-color: red;
    cursor: pointer;
    height: 40px;
    width: 100px;
}
button:hover{
    background-color: chartreuse;
}