body{
    background-image: url(https://global.discourse-cdn.com/freecodecamp/optimized/3X/8/6/86e4076dab3fb78259a399129de78fead9485400_2_689x283.jpeg);
    background-size: cover;
}
#navbar{
    height: 60px;
    background-color:burlywood;
    margin-bottom: 10px;
    margin-top: 0px;
    position: sticky;
    top: 0;
   ul{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    /* font-size: 18px; */
    list-style: none;
    
    a{
        color: black;
        font-size: 20px;
        text-decoration: none;
    }
    button{
        background-color:cornflowerblue;
        cursor: pointer;
        height: 30px;
        width: 120px;
        color: #ffffff;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 16px;
    }
 
   }
}
#sorting{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
}
#products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    .product-box{
        border: 2px solid #000000;
        background-color: #ffffff;
        border-radius: 10px;
        height: 500px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        img{
            height: 200px;
            width: 200px;
        }
        button{
            background-color: aqua;
            cursor: pointer;
            height: 40px;
            width: 100px;
            border-radius: 10px;
        }
        
    }
}

